{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}


<div class="container">
    <div class="col-md-6 mx-auto mt-5">
        <h2 style="text-align:center;">Profile Page</h2>
        {{profile.user.username}}
        {{profile.user.email}}
        {{profile.phone_number}}
        {{profile.address}}
        <h5> <a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></h5>
        <h5> <a href="{% url 'accounts:reservation' %}">My Reservitions</a></h5>
        <h5> <a href="{% url 'accounts:mylisting' %}">My Listing</a></h5>

    </div>
</div>
{% endblock body %}