{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}

<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_5.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
            data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
						class="mr-2"><a href="/">Home</a></span> <span>My Reservitions</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">My Reservitions</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-9">
                <div class="row">
                    {% for property in property_list %}
                    <div class="col-md-4 ftco-animate">
                        <div class="destination">
                            <a href="{{property.property.get_absolute_url}}"
                                class="img img-2 d-flex justify-content-center align-items-center"
                                style="background-image: url({{property.property.image.url}});">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="{{property.property.get_absolute_url}}">{{property.property.name}}</a></h3>
                                        <div class="rating-star">
								<span>
									<i class="fa fa-star{% if property.property.avr_review < 0.5%}-o{% elif property.property.avr_review >= 0.5 and property.property.avr_review < 1%}-half-o{%endif%}"
										aria-hidden="true"></i>
									<i class="fa fa-star{% if property.property.avr_review < 1.5%}-o{% elif property.property.avr_review >= 1.5 and property.property.avr_review < 2%}-half-o{%endif%}"
										aria-hidden="true"></i>
									<i class="fa fa-star{% if property.property.avr_review < 2.5%}-o{% elif property.property.avr_review >= 2.5 and property.property.avr_review < 3%}-half-o{%endif%}"
										aria-hidden="true"></i>
									<i class="fa fa-star{% if property.property.avr_review < 3.5%}-o{% elif property.property.avr_review >= 3.5 and property.property.avr_review < 4%}-half-o{%endif%}"
										aria-hidden="true"></i>
									<i class="fa fa-star{% if property.property.avr_review < 4.5%}-o{% elif property.property.avr_review >= 4.5 and property.property.avr_review < 5%}-half-o{%endif%}"
										aria-hidden="true"></i>
								</span>({{property.property.count_review}} reviews)
							</div>
                                    </div>
                                    <div class="two">
                                        <span
                                            class="price per-price">${{property.property.price}}<br><small>/night</small></span>
                                    </div>
                                </div>
                                <p>{{property.property.description|safe|truncatewords:5}}</p>
                                <hr>
                                <p class="bottom-area d-flex">
                                    <span><i class="icon-map-o"></i>{{property.property.place}}</span>
                                    <span class="ml-auto"><a href="{% url 'accounts:submit_review' property.property_id %}">Add
                                            Review</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->
{% endblock body %}